@font-face {
    font-family: "HelveticaThin";
    src: url("fonts/h_thin.otf");
    font-style: normal;
    font-weight: normal;
}
body {
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 120%;
    font-family: 'HelveticaThin', Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.5px;
    line-height: 1.2;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.blur, .main, .blur1, .blur2, .blur3, .blur4, .block {
    background: hsla(0, 0%, 100%, .25) border-box;
    color: #fff;
    border-radius: 15px;
    color: transparent;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 30px;
    transition: 2s;
    visibility: visible;
    width: calc(100%-60px);
}
.blur::before, .main::before, .blur1::before, .blur2::before, .blur3::before, .blur4::before, .block::before {
    bottom: 0;
    content: '';
    filter: blur(20px);
    left: 0;
    margin: -30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
}
.main{
    background: hsla(0, 0%, 100%, .25) border-box;
    color: #fff;
    display: flex;
    flex-direction: row;
    transition: 2s;
    visibility: visible;
}
.main_image{
    display: flex;
    justify-content: center;
    width: 50%;
}
.main_text{
    display: flex;
    line-height: 2;
    padding: 15px;
    width: 50%;
}
.main_image_image{
    border-radius: 500px;
    height: 150px;
    width: 150px;
}
::selection {
    background: #000; 
    color: #fff;
}
::-moz-selection {
    background: #000; 
    color: #fff;
}
::-webkit-selection {
    background: #000; 
    color: #fff;
}
::-o-selection {
    background: #000; 
    color: #fff;
}
@media screen and (max-width: 1000px) {
    body{
        padding: 0;
        margin: 2.5%;
    }
}
@media screen and (max-width: 600px) {
    .main::before, .main{
        //background: rgba(255,255,255,0.2);
    }
    .block::before, .block{
        //background: rgba(255,255,255,0.6);
    }
    .all{
        margin: -4%;
    }
    body{
        margin: 2.5%;
        padding: 0;
    }
    .main{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main_image{
        display: flex;
        width: 250px;
    }
    .main_text{
        display: flex;
        justify-content: center;
        width: 250px;
    }
    .main_text_text{
        text-align: center;
    }
    .br{
        display: block;
    }
    .br_small{
        display: none;
    }
    .block_info{
        align-items: center;
        display: flex;
        height: 30px;
    }
    .block_head{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 30px;  
    }
    .icons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 47%;
}
.block_head{
    padding: 1%;
    padding-bottom: 2%;
    text-align: center;
}
.block_image_image{
    width: 100%;
}
.block_image{
    display: flex;
    align-items: center;
    justify-content: center
}
.block_info{
    padding: 1%;
    padding-top: 2%;
}
.box{
    display: none;
}
@media screen and (max-width: 900px) {
    body{
        padding: 0;
        margin: 5%;
    }
   .box{
        display: flex;
        flex-direction: column;
        margin-top: -5%;
   }
   .container{
        display: none;
   }
   .block{
        width: 98%;
   }
}
.main_text_text_text{
    text-align: center;
}
.center{
    justify-content: center;
    font-size: 150%;
}
.br{
    display: none;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social_block{
    display: flex;
    justify-content: space-between;
}
.social_center{
    display: flex;
    justify-content: center;
}
.ico:hover{
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}
.no_decorations{
    color: #000;
    text-decoration: none;
}
.white{
    color: #fff;
}
.ncopy, .hi{
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
@-moz-document url-prefix(http://hwork.net/) {
    .social_block, .icons{
        line-height: 3.5;
    }
    .social_block{
        vertical-align: top;
    }
    .block_head, .block_info{
        line-height: 2;
    }
}