* {
	padding: 0;
	margin: 0;
}

body{
	overflow: hidden;
}
canvas {
	display: block;
	background: black;
}

.vid{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: fixed;
	width: 100%;
}

.vi{
	width: 700px;
}

@media screen and (max-width:720px) {
	.vi{
		width: 90%;
	}
}

