/* CSS Document */
body{font-family: 'Changa One', cursive;margin:0;padding:0}

#home { 
	
	background: url("../images/home.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
 
#about { 
	
	background: url("../images/about.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
#blog { 
	
	background: url("../images/blog.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}
#contact { 
	
	background: url("../images/contact.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0; 
	position:relative;
	min-height:1080px;
}