@font-face {
    font-family: Roboto; 
    src: url(roboto.ttf); 
}
::selection {
	background: #FFB500; 
	color: #000;
}
::-moz-selection {
	background: #FFB500; 
	color: #000;
}
::-webkit-selection {
	background: #FFB500; 
	color: #000;
}
body{
	background: #fafafa;
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
header{
 	background: #FFC107;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	cursor: default;
	display: flex;
	font-size: 190%;
	left: 0;
	position: fixed;
	padding: 1%;
	justify-content: center; 
	right: 0;
	top: 0;
	width: 100%;
}
a{
	color: #343434;
	text-decoration: none;	
}
table{
	border: 0;
	border-collapse: collapse;
	color: #3b3b3b;
	margin-top: 1%;
}
td{
	padding: 1%;
}
td:nth-child(4){
	text-align: center;	
}
td:nth-child(5){
	text-align: center;	
}
tr:hover{
	background: #E1E1E1;
	cursor: default;
}
.hidden-menu {
	border: 0;
	box-sizing: border-box;
	background-color: #EEEEEE;
 	display: block;
	height: 100%;
	list-style: none;
	left: -200px;
	margin: 0;
  	position: absolute;
 	padding-top: 1%;
	padding-left: 0;
  	top: 0;
	transition: left .2s;
  	width: 25%;
  	z-index: 3;
 	-webkit-transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
}
#hidden-menu-overlay {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	cursor: pointer;
	left: 0;
  	position: absolute;
  	right: 0;
  	top: 0;
  	z-index:  2;
}
.hidden-menu-ticker {
	display: none;
}
.btn-menu {
	background-color: transparent;
  	color: #000;
	cursor: pointer;
	font-size: 190%;
	left: 5px;
 	padding: 1%;
 	position: fixed;
  	top: 0px;
	transition: left .23s;
  	z-index: 3;
  	-webkit-transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
}
#button{
	align-items: center;
	border: 1px solid #2196F3;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 5px;
	background:  #2196F3;
	color: #fff;
	cursor: pointer;
	font-size: 70%;
	font-family: Roboto, sans-serif;
	justify-content: center;
	height: 100%;
}
#t1{
	border: 1px solid transparent;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 5px;
	background: #FFE082;
	font-size: 50%;
	font-family: Roboto, sans-serif;
	margin-right: 1%;
	padding: 1%;
	width: 40%;
}
.btn-menu span {
	background-color: #000;
  	display: block;
  	height: 5px;
  	margin: 5px 0 0;
  	position: relative;
	transition: all .1s linear .23s;
}
.btn-menu span.first {
 	margin-top: 0;
}
.hidden-menu-wrapper {
	bottom: 0;
	left: 0;
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	width: 0;
 	z-index: 2;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 21%;
}
.hidden-menu-ticker:checked ~ .hidden-menu-wrapper {
  width: 100%;
}
.hidden-menu-ticker:checked ~ .hidden-menu-wrapper .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
.menu{
	font-size: 190%;
	padding-bottom: 5%;
	text-align: center;
}
#all{
	line-height: 1.7;
	margin-top: 5%;
	padding: 1%;
	padding-top: 2%;
	padding-left: 5%; 
	padding-right: 5%;
}
.zagolovok{
	color: #313131;
	font-size: 190%;
	line-height: 2.5;
}
.info{
	color: #3b3b3b;	
}
.line{
	background: #ccc;
	display: flex;
	height: 1px;
	margin-top: 4%;
	margin-bottom: 2%;
	width: 100%;
}
.menu_items{
	align-items: flex-start;
	color: #343434;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	line-height: 1.5;
	font-size: 140%;
	width: 100%;
}
#menu_item{
	align-content: center;
	align-items: center;
	border-left: 5px solid transparent;
	display: flex;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom:2%;
	width: 100%;
}
#ss1, #ss2, #ss3, #ss4, .top{
	width: 89.5%;
}
#menu_item:hover, #menu_item:active{
	background: #E1E1E1;
	border-left: 5px solid #646464;
	cursor: pointer;
}
.image{
	width: 100%;	
}
.head_table{
	background: transparent;
	width: 100%;
}
.dark{
	background: #e1e1e1;
}
.light{
	background: rgba(240,240,240, 0.5);
}
.footer{
	background: #EFEFEF;
	color: #3b3b3b;
	margin-top: 5%;
	margin-left: -5.5%;
	margin-right: -5.5%;
	margin-bottom: -1%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 5.5%; 
	padding-right: 5.5%;
	text-align: center;
	width: 100%;
}
#comm, #comm1, .top{
	cursor: pointer;
}
#commm, #commm1{
	display: none;
}
.map{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1%;
}
#one, #two, #three, #four{
	font-size: 0.1%;
}
.invisible{
	display: none;
}
@media screen and (max-width: 800px) {
	td:nth-child(2){
		display: none;
	}
	td:nth-child(3){
		display: none;
	}		
	.hidden-menu{
		width: 100%;
	}
	.hidden-menu-ticker:checked ~ .btn-menu {
  		left: 90%;
	}
	.visible{
		display: none;
	}
	.invisible{
		display: block;
	}
	.menu{
		padding-bottom: 10%;
	}
	.menu_items{
		line-height: 2.2;
	}
	#comm1{
		display: none;
	}
	#commm1{
		display: none;
	}
}