@font-face {
    font-family: RubikB; 
    src: url(rubik/Rubik-Black.ttf); 
}
@font-face {
    font-family: RubikL; 
    src: url(rubik/Rubik-Light.ttf); 
}
@font-face {
    font-family: RubikM; 
    src: url(rubik/Rubik-Medium.ttf); 
}
body{
	background: #fff;
	font-family: 'RubikL', sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
a{
	color: #000;
	text-decoration: none;
}
.block1{
	background: url('images/tbec.png') 100% 100% no-repeat;
	background-position: top center;
	background-size: cover;
	color: #000;
	font-family: 'RubikB', sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.block1-wrap{
	background: rgba(0,0,0,0.5);
	height: 100vh;
}
.block1-text1{
	align-items: center;
	color: #e5e5e5;
	display: flex;
	justify-content: center;
	font-size: 200%;
	font-weight: 900;
	height: 33.3%;
}
.block1-text2{
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: center;
	font-size: 300%;
	font-weight: 900;
	height: 33.3%;
}
.block1-text3{
	align-items: center;
	color: #e5e5e5;
	display: flex;
	justify-content: center;
	font-size: 200%;
	font-weight: 900;
	flex-direction: row;
	height: 33.3%;
}
.block1-text1-text1{
	text-align: center;
}
.logo_img{
	height: 60%;
	padding-right: 5%;
	padding-left: 5%;
}
.block2, .block3{
	align-items: center;
	display: flex;
	flex-direction: row;
	font-weight: 300;
	height: 100vh;
	justify-content: center;
	line-height: 1.7;
}
.block2-all-wrap{
	align-items: flex-start;
	justify-content: center;
	display: flex;
	width: 100%;
}
.block2-col-left, .block2-col-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2.5%;
	padding-bottom: 2%;
	padding-top: 2%;
	width: 50%;
}
.block2-left-wrap, .block2-right-wrap{
	align-items: center;
	display: flex;
    border: 4px solid transparent;
    border-radius: 16px;
    background: #fff;
    background-clip: padding-box;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-left: -2.5%;
	padding-right: -2.5%;
	padding-bottom: 0;
}
.block2-left-wrap::after, .block2-right-wrap::after{
	background: linear-gradient(to top right, #71069E , #3B52B8, #00A2D4);
	border-radius: 16px;
    bottom: -4px;
    content: '';
    left: -4px; 
    position: absolute;
    right: -4px;
    top: -4px; 
    z-index: -1;
}
.block2-left-wrap:hover::after, .block2-right-wrap:hover::after{
    //background: linear-gradient(135deg, red 20%, blue 70%);
}
.block2-left-wrap{
	margin-right: -2.5%;
}
.block2-right-wrap{
	margin-left: -2.5%;
}
.block2-col-left-ico, .block2-col-right-ico, .block3-col-left-ico, .block3-col-center-ico, .block3-col-right-ico{
	font-size: 600%;
	padding-top: 5%;
	text-align: center;
}
.block2-col-left-ico-text, .block2-col-right-ico-text{
	display: flex;
	font-size: 200%;
	justify-content: center;
}
.block2-col-left-text, .block2-col-right-text{
	color: rgba(0,0,0,0.8);
	padding: 5%;
}
@-moz-document url-prefix(http://hwork.net/tbec/) {
	.block2-col-left-text, .block2-col-right-text{
        margin-bottom: 60px;
    }
    .block2-col-left-ico-text, .block2-col-right-ico-text{
    	padding-top: 25px;
    }
}
.bold{
	font-family: 'RubikM', sans-serif;
	font-weight: 500;
}
.block3{
	margin: 0;
}
.block3-left-wrap, .block3-center-wrap, .block3-right-wrap{
	background: #fff;
	border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    margin-left: 2.5%;
    padding: 10px;
    position: relative;
	width: 100%;
}
.block3-left-wrap:hover, .block3-center-wrap:hover, .block3-right-wrap:hover{
	background: linear-gradient(to top right, #FF5F6D , #FFC371);
	border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    cursor: default;
    margin-left: 2.5%;
    padding: 10px;
    position: relative;
	width: calc(33.3% - 2.5% - (2.5% / 3));
	width: 100%;
}
.block3-left-wrap::after, .block3-center-wrap::after, .block3-right-wrap::after{
	background: linear-gradient(to top right, #FF5F6D , #FFC371);
	border-radius: 16px;
	bottom: -4px;
	content: '';
	left: -4px; 
    position: absolute;
    right: -4px;
    top: -4px; 
    z-index: -1;
}
.block3-right-wrap{
	margin-right: 2.5%;
}
.block3-col-left-ico, .block3-col-center-ico, .block3-col-right-ico{
	line-height: 1.5;
	text-align: center;
}
.block3-col-left-ico-text, .block3-col-center-ico-text, .block3-col-right-ico-text{
	display: flex;
	font-size: 200%;
	justify-content: center;
	line-height: 1;
	text-align: center;
}
.block3-col-left-text, .block3-col-center-text, .block3-col-right-text{
	color: rgba(0,0,0,0.8);
	padding: 10%;
}
.block3-center-div{
	align-items: flex-start;
	display: flex;
	width: 33.3%;
}
.block3-all-wrap, .block8-all-wrap{
	align-items: flex-start;
	display: flex;
	width: 100%;
}
.block4{
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	height: 100vh;
	justify-content: center;
}
.block4-info-block{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 2.5%;
	width: 25%;
}
.block4-info{
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 45%;
	justify-content: center;
	width: 100%;
}
.block4-header, .block7-header{
	align-items: center;
	display: flex;
	font-size: 200%;
	justify-content: center;
	line-height: 1.7;
	text-align: center;
}
.block4-info-block-circle{
	align-items: center;
	background: linear-gradient(to top right, #FCA5F1, #B5FFFF);
	border-radius: 500px;
	display: flex;
	flex-direction: column;
	height: 245px;
	justify-content: center;
	width: 245px;
}
.info-stat-1{
	font-family: 'RubikM', sans-serif;
	font-weight: 500; 
	font-size: 500%;
}
.info-stat-2{
	font-family: 'RubikM', sans-serif;
	font-weight: 500; 
	font-size: 425%;
}
.circle-text{
	color: rgba(0,0,0,0.8);
}
.block5{
	align-items: center;
	display: flex;
	font-weight: 300;
	height: 100vh;
	justify-content: center;
}
.block5-wrap, .block8-wrap{
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}
.block5-left, .block5-right, .block8-left, .block8-right{
	align-items: center;
	border: 4px solid transparent;
    border-radius: 16px;
    background: #fff;
    background-clip: padding-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	position: relative;
	width: 50%;
}
.block5-left, .block8-left{
	margin-right: -2.5%;
}
.block5-right, .block8-right{
	margin-left: -2.5%;
}
.block5-left::after, .block5-right::after{
	background: linear-gradient(to bottom,#4ad391 33%,#4cc4ef 100%);
	border-radius: 16px;
	bottom: -4px;
	content: '';
	left: -4px; 
    position: absolute;
    right: -4px;
    top: -4px; 
    z-index: -1;
}
.block5-left-image{
	background: url('images/z.jpg') 100% 100% no-repeat; 
	background-position: center center;
	background-size: cover;
	border-radius: 500px;
	height: 250px;
	width: 250px;
}
.block5-right-image{
	background: url('images/b.jpg') 100% 100% no-repeat; 
	background-position: center center;
	background-size: cover;
	border-radius: 500px;
	height: 250px;
	width: 250px;
}
.block5-header, .block8-header{
	font-size: 200%;
	line-height: 1.7;
}
.block5-text, .block8-text{
	color: rgba(0,0,0,0.85);
	line-height: 1.7;
}
.block6{
	align-items: center;
	display: flex;
	font-weight: 300;
	height: 100vh;
	justify-content: center;
	line-height: 1.7;
}
.block6-wrap{    
	border: 4px solid transparent;
    border-radius: 16px;
    background: #fff;
    background-clip: padding-box;
    margin: 5%;
    padding: 2.5%;
    position: relative;
}
.block6-wrap::after{
	background: linear-gradient(to bottom, #8E78FF , #FC7D7B);
	border-radius: 16px;
	bottom: -4px;
	content: '';
	left: -4px; 
    position: absolute;
    right: -4px;
    top: -4px; 
    z-index: -1;
}
.block6-ico{
	font-size: 600%;
	text-align: center;
}
.block6-header{
	display: flex;
	font-size: 200%;
	justify-content: center;
}
.block6-text{
	color: rgba(0,0,0,0.8);
	padding: 5%;
}
.block7{
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	height: 100vh;
	justify-content: center;
}
.block7-row{
	display: flex;
	flex-direction: row;
	height: 50%;
	width: 100%;
}
.block7-item{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 2.5%;
	width: 33.3%;
}
.block7-circle{
	align-items: center;
	background: linear-gradient(to top left, #84fab0, #8fd3f4);
	border-radius: 500px;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	width: 250px;
}
.block8{
	align-items: center;
	display: flex;
	flex-direction: row;
	font-weight: 300;
	height: 100vh;
	justify-content: center;
}
.block8-left::after, .block8-right::after{
	background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
	border-radius: 16px;
	bottom: -4px;
	content: '';
	left: -4px; 
    position: absolute;
    right: -4px;
    top: -4px; 
    z-index: -1;
}
.block8-left-image{
	background: url('images/i.jpg') 100% 100% no-repeat; 
	background-position: center center;
	background-size: cover;
	border-radius: 500px;
	height: 250px;
	width: 250px;
}
.block8-right-image{
	background: url('images/k.jpg') 100% 100% no-repeat; 
	background-position: center center;
	background-size: cover;
	border-radius: 500px;
	height: 250px;
	width: 250px;
}
.block9{
	align-items: center;
	background: url('images/s.JPG') 100% 100% no-repeat;
	background-position: center center;
	background-size: cover;
	color: #000;
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.block9-wrap{
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100%;
}
.block9-text1{
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 300%;
	font-weight: 900;
	height: 33.3%;
}
.block9-text1-text1{
	font-family: 'RubikB', sans-serif;
	text-align: center;
}
.block9-text1-row1{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 33.3%;
}
.block9-item{
	font-size: 100%;
}
.block9-item:hover .block9-ico{
	color: #00FFA1;
}
.block9-item:hover .block9-text2{
	color: #00FFA1;
}
.block9-ico{
	color: #fff;
	font-size: 600%;
	margin-bottom: 1%;
	text-align: center;
}
.block9-text2{
	color: #ccc;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.7;
	text-align: center;
}
.block9-circle{
	align-items: center;
	border-radius: 500px;
	background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
	background-size: 600% 600%;
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: center;
	width: 150px;
	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	-o-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes AnimationName { 
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
.block9-circle-ico{
	color: #fff;
	font-size: 300%;
	line-height: 1.7;
}
.block9-circle-text{
	color: #fff;
	font-weight: 300;
	line-height: 1.7;
}
@media screen and (max-width: 1100px) {
	body{
		overflow-y: visible;
	}
	.nav-buttons{
		display: none;
	}
    .block0{
        font-size: 250%;
    }
    .block1-text1, .block1-text3{
    	color: #f7f7f7;
    	font-size: 125%;
    	padding-left: 1%;
    	padding-right: 1%;
    }
    .block1-text2{
    	font-size: 225%;
    	padding-left: 1%;
    	padding-right: 1%;
    }
    .block2{
    	height: auto;
    }
	.block2, .block2-all-wrap{
		flex-direction: column;
	}
	.block2-col-left, .block2-col-right{
		padding: 0;
		width: 100%;
	}
	.block2-left-wrap{
		margin: 1%;
		margin-right: 1%;
	}
	.block2-right-wrap{
		margin: 1%;
		margin-left: 1%;
	}
	.block3{
		height: auto;
	}
	.block3-all-wrap{
		flex-direction: column;
	}
	.block3-center-div{
		width: 100%;
	}
	.block3-left-wrap, .block3-left-wrap:hover{
		margin: 1%;
		margin-right: 1%;
		padding: 0;
	}
	.block3-center-wrap, .block3-center-wrap:hover{
		margin: 1%;
		margin-left: 1%;
		padding: 0;
	}
	.block3-right-wrap, .block3-right-wrap:hover{
		margin: 1%;
		margin-left: 1%;
		margin-right: 1%;
		padding: 0;
	}
	.block3-col-left-text, .block3-col-center-text, .block3-col-right-text{
		padding: 5%;
	}
	.block4{
		height: auto;
	}
	.block4-info-block{
		width: 100%;
	}
	.block4-info-block-circle{
		align-items: center;
		justify-content: center;
	}
	.block4-info{
		flex-direction: column;
		height: auto;
		justify-content: center;
	}
	.block5{
		flex-direction: column;
		height: auto;
	}
	.block5-wrap{
		flex-direction: column;
	}
	.block5-left, .block5-right{
		margin: 1%;
		width: 86%;
	}
	.block6{
		height: auto;
	}
	.block6-header{
		text-align: center;
	}
	.block6-wrap{
		margin: 1%;
		width: 91%;
	}
	.block7{
		height: auto;
		justify-content: center;
	}
	.block7-row{
		flex-direction: column;
		justify-content: center;
		height: auto;
	}
	.block7-item{
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.block7-circle{
		align-items: center;
		justify-content: center;
	}
	.block8{
		height: auto;
	}
	.block8-left, .block8-right{
		margin: 1%;
		width: 100%;
	}
	.block8-all-wrap{
		flex-direction: column;
	}
	.block9, .block9-wrap, .block9-text1, .block9-text1-row1{
		height: auto;
	}
	.block9-text1-row1{
		flex-direction: column;
	}
	.block9-text1-text1, .block9-item{
		margin: 2.5%;
	}
	.block9-text1:nth-child(1){
		padding-top: 15%;
	}
	.block9-item{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.block9-text1-row1:nth-last-child(1){
		padding-bottom: 15%;
	}
	@-moz-document url-prefix(http://hwork.net/tbec/) {
    	.block2-left-wrap, .block2-right-wrap, .block3-left-wrap, .block3-center-wrap, .block3-right-wrap, .block3-left-wrap:hover, .block3-center-wrap:hover, .block3-right-wrap:hover, .block4-info-block-circle, .block5-wrap, .block6-wrap, .block7-circle, .block8-wrap{
    		margin-top: 5px;
    	}
    	.block8-wrap:nth-last-child(1){
    		margin-bottom: 5px;
    	}
	}
}