@font-face { font-family: "pt_sans"; src: url("../fonts/pt_sans.ttf"); font-style: normal; font-weight: normal; }
@font-face { font-family: "pt_serif"; src: url("../fonts/pt_serif.ttf"); font-style: normal; font-weight: normal; }
@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
a { text-decoration: none; color: #4e3c3e; outline: none; }
button, .button {
background: #311B92;
border: none;
border-radius: 500px;
color: white;
display: inline-block;
font-family: pt_sans;
outline: none;
padding: 20px 40px;
text-decoration: none;
text-transform: uppercase;
transition: background-color 0.1s ease-out; 
user-select: none; 
cursor: pointer; 
}
button:hover, .button:hover {
background: #673AB7;
-ms-transform: scale(1.05,1.05);
-webkit-transform: scale(1.05,1.05);
-o-transform: scale(1.05,1.05);
-moz-transform: scale(1.05,1.05);
transform: scale(1.05,1.05);
transition: 0.5s;
}
.logo-menu{ display: none; }
.menu__list {
position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style: none;
}
.menu__item { display: block; }
.menu__link {
font-family: pt_sans;
font-size: 18px;
display: block;
padding: 1em;
cursor: pointer;
-webkit-touch-callout: none;
-khtml-user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover, .menu__link:focus { outline: none; }
.menu--ferdinand .menu__link {
position: relative;
display: block;
margin: 0 1.5em;
padding: 0.65em 0;
text-align: center;
color: #7f7f7f;
color: rgba(0,0,0,0.8);
-webkit-transition: background 0.3s, color 0.3s;
transition: background 0.3s, color 0.3s;
}
.menu--ferdinand .menu__link:hover, .menu--ferdinand .menu__link:focus { color: #000; }
.menu--ferdinand .menu__item--current .menu__link { color: #000; }
.menu--ferdinand .menu__link::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background: #673AB7;
-webkit-transform: scale3d(0, 5, 1);
transform: scale3d(0, 5, 1);
-webkit-transform-origin: 0% 50%;
transform-origin: 0% 50%;
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}
.menu--ferdinand .menu__item--current .menu__link::before {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
@media screen and (max-width:55em) {
.menu__list { display: block; margin: 0 auto; }
}
body{
background: #fff;
color: #000;
font-family: pt_sans, arial, sans-serif;
margin: 0;
padding: 0;
}
.header{
background: #fff;
/*border-bottom: 1px solid #D1C4E9;*/
color: #000;
display: flex;
left: 0;
padding: 10px;
position: fixed;
top: 0;
transition: 0.5s;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
width: 100%;
z-index: 1000;
}
.header-shadow{ box-shadow: 0 0 10px #D1C4E9; }
.logo{
align-items: center;
display: flex;
padding-left: 58px;
padding-right: 40px;
}
.gradient1 {
border-radius: 100%;
background: #000;
cursor: pointer; 
height: 0px;
padding-bottom: 100%;
width: 100%;
}	
.ico{
align-items: center;
/*background: #311B92;*/
background: linear-gradient(45deg, #9575cd, #7e57c2, #673ab7, #5e35b1, #512da8, #4527a0, #311b92);
background-size: 1400% 1400%;
border-radius: 500px;
color: #fff;
cursor: pointer;
display: flex;
font-size: 18px;
font-family: pt_serif;
height: 40px;
justify-content: center;
padding-bottom: 0;
width: 40px;
-webkit-animation: purpleGradient 3s ease infinite;
-moz-animation: purpleGradient 3s ease infinite;
-o-animation: purpleGradient 3s ease infinite;
animation: purpleGradient 3s ease infinite;
}
@-webkit-keyframes purpleGradient { 0%{background-position:91% 0%} 50%{background-position:10% 100%} 100%{background-position:91% 0%} }
@-moz-keyframes purpleGradient { 0%{background-position:91% 0%} 50%{background-position:10% 100%} 100%{background-position:91% 0%} }
@-o-keyframes purpleGradient { 0%{background-position:91% 0%} 50%{background-position:10% 100%} 100%{background-position:91% 0%} }
@keyframes purpleGradient { 0%{background-position:91% 0%} 50%{background-position:10% 100%} 100%{background-position:91% 0%} }
.jumbotron{
align-items: center;
height: calc(100vh - 67px);
margin-top: 67px;
display: flex;
flex-direction: column;
justify-content: center;
}
.jumbotron-box{ margin-bottom: 80px; }
.hello{
display: flex;
font-family: pt_serif;
font-size: 28px;
justify-content: center;
line-height: 1.7;
}
.image{ border-radius: 500px; height: 250px; width: 250px; }
.my_image{
align-items: center;
background: #D1C4E9;
border-radius: 500px;
display: flex;
height: 250px;
justify-content: center;
position: absolute;
width: 250px;
z-index: -1;
}
.spinner{ color: #fff; position: absolute; z-index: -1; }
.mytext{
align-items: center;
color: rgba(0,0,0,0.8);
display: flex;
font-size: 18px;
line-height: 1.7;
padding-left: 50px;
}
.info-box{ display: flex; flex-direction: row; }
.project, .bmark1, .bmark2, .bmark3{
align-content: center;
align-items: center;
display: flex;
flex-direction: row;
justify-content: center;
padding-left: 200px;
padding-right: 200px;
}
.projects-mob{ display: none; }
.project-image{
align-items: center;
border-radius: 5px;
justify-content: center;
}
.bmark-image, .bmark-image-mob{
align-items: center;
border-radius: 5px;
border: 1px solid #D1C4E9;
box-shadow: 0 0 10px #D1C4E9;
display: flex;
height: 217px;
width: 450px;
}
.bmark-logo-1{
align-items: center;
background: #000;
border-radius: 5px;
display: flex;
font-size: 60px;
height: 100%;
justify-content: center;
width: 100%;
width: 450px;
}
.bmark-logo-2{
align-items: center;
background: #5B45E9;
border-radius: 5px;
color: #fff;
display: flex;
font-size: 60px;
height: 100%;
justify-content: center;
width: 100%;
width: 450px;
}
.bmark-logo-3{
align-items: center;
background: #000;
border-radius: 5px;
color: #fff;
display: flex;
flex-direction: column;
font-size: 60px;
height: 100%;
justify-content: center;
width: 100%;
width: 450px;
}
.row1, .row2, .row3{ display: flex; justify-content: space-around; width: 100%; }
.one{ opacity: 0.1; }
.two{ opacity: 0.2; }
.three{ opacity: 0.3; }
.four{ opacity: 0.4; }
.five{ opacity: 0.5; }
.six{ opacity: 0.6; }
.seven{ opacity: 0.7; }
.eight{ opacity: 0.8; }
.nine{ color: #7BFDD9; opacity: 0.9; }
.pad{ padding: 10px; }
.red{ color: #E53935; }
.blur{
color: #fff;
filter: blur(5px);
-o-filter: blur(5px);
-moz-filter: blur(5px);
-ms-filter: blur(5px);
-webkit-filter: blur(5px);
}
.gradient{
text-shadow: 1px 1px 2px #BF360C,
2px 2px 2px #D84315, 3px 3px 2px #E64A19, 4px 4px 2px #F4511E, 5px 5px 2px #EF6C00, 6px 6px 2px #F57C00,
7px 7px 2px #FF6F00, 8px 8px 2px #FF8F00, 9px 9px 2px #FB8C00, 10px 10px 2px #FFA000, 11px 11px 2px #F9A825,
12px 12px 2px #FBC02D, 13px 13px 2px #FDD835, 14px 14px 2px #FFEB3B, 15px 15px 2px #FFEE58, 16px 16px 2px #FFF176,
17px 17px 2px #FFF59D, 18px 18px 2px #FFF9C4; }
.project-img{
border-radius: 5px;
border: 1px solid #D1C4E9;
box-shadow: 0 0 10px #D1C4E9;
height: 217px;
width: 450px;
}
.my_image_project{
align-items: center;
background: #D1C4E9;
border-radius: 5px;
display: flex;
height: 217px;
justify-content: center;
position: absolute;
z-index: -1;
width: 450px;
}
.project-info{
align-items: flex-start;
align-content: center;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 50px;
padding-right: 50px;
width: 50%;
}
.project-header{
font-size: 30px;
font-family: pt_serif;
padding-bottom: 15px;
padding-top: 15px;
}
.project-text{ color: rgba(0,0,0,0.8); padding-bottom: 15px; }
.ots{ padding-top: 5px; padding-bottom: 5px; }
.project-img-mobile{
border-radius: 5px;
border: 1px solid #D1C4E9;
display: none;
}
.separator{
border-top: 1px solid #D1C4E9;
height: 1px;
margin-left: 200px;
margin-right: 200px;
}
.contacts-box{
align-items: center;
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: -80px;
}
.bmark-image-mob{ display: none; }
@media screen and (max-width:1100px) {
.bmark1, .bmark2, .bmark3{
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
}
.bmark-image, .bmark-image-mob{ width: 100%; }
.bmark-logo-1, .bmark-logo-2, .bmark-logo-3{ width: 100%; }
.bmark-image{ display: none; }
.bmark-image-mob{ display: block; }
.project-info{
padding-top: 30px;
padding-left: 0;
padding-right: 0;
width: 100%;
}
}
@media screen and (max-width:880px) {
	.jumbotron-box{ margin-top: 150px;}
}
@media screen and (max-width:800px) {
	.jumbotron-box{ margin-top: 50px;}
}
@media screen and (max-width:1100px) {
.down{ display: none; }
.project{
flex-direction: column;
padding-left: 50px;
padding-right: 50px;
}
.separator{ display: none; }
.project-img, .zoom, .bmark-image{ display: none; }
.my_image_project{
align-items: center;
background: transparent;
color: #000;
display: flex;
justify-content: center;
width: calc(100% - 40px);
}
.project-img-mobile{
border-radius: 5px;
border: 1px solid #D1C4E9;
display: flex;
width: 100%;
}
.contacts-box, .row-feedback-1{ flex-direction: column; }
.inp{ margin-top: 5px;  margin-bottom: 5px; }
.feedback, .contacts-box{ padding-left: 0; padding-right: 0; }
}
@media screen and (max-width:1200px) {
.project{ padding-left: 20px; padding-right: 20px; }
.separator{ margin-left: 20px;  margin-right: 20px; }
.project-img{ display: none; }
.project-img-mobile{ display: flex; width: 100%; }
.om, .my_image_project { display: none; visibility: hidden; }
}
@media screen and (max-width:55em) {
.header {
align-items: center;
border-bottom: 0;
box-shadow: none;
display: flex;
//height: 100vh;
justify-content: center;
flex-direction: column;
padding-left: 0;
position: relative;
}
.logo{ padding: 20px; padding-left: 0; padding-right: 0; }
.ico{ height: 35px; width: 35px; }
.jumbotron{ height: 100vh; margin-top: 0; }
.info-box{ flex-direction: column; }
.mytext{ padding-left: 0; padding-top: 20px; }
.menu__link{ font-size: 20px; }
.menu__item{ padding: 10px; }
}
.svg-filters {
position: absolute;
visibility: hidden;
width: 1px;
height: 1px; 
}
.section{
display: flex;
justify-content: center;
padding-top: 15px;
padding-bottom: 15px;
}
.zoom{ -ms-cursor: pointer; cursor: pointer; }
.contacts-box{ padding-left: 200px; padding-right: 200px; }
.dummy {
text-align: left;
padding: 1em;
min-height: 300px;
margin: 0 auto;
font-weight: 300;
}
.dummy-menu { max-width: 100%; padding: 4em 1em; }
.dummy-menu ul, .dummy-team ul {
list-style: none;
text-align: center;
padding: 0;
margin: 0 0 3em;
}
.dummy-menu ul li {
display: inline-block;
position: relative;
margin: 0 1em;
font-size: 1.5em;
}
.dummy-menu ul li a {
display: inline-block;
font-weight: 700;
padding: 0.15em 0.25em 0;
-webkit-transition: color 0.3s;
transition: color 0.3s;
}
.dummy-menu-icons ul li {
width: 2em;
height: 2em;
font-size: 2em;
line-height: 1.75;
}
.tooltip {
color: #311B92;
display: inline;
font-size: 50px;
position: relative;
z-index: 999;
}
.tooltip::after {
content: '';
position: absolute;
width: 100%;
height: 20px;
bottom: 100%;
left: 50%;
pointer-events: none;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
}
.tooltip:hover::after {
pointer-events: auto;
}
.tooltip:hover, .tooltip:active, .tooltip:focus{
color: #000;
}
.tooltip-content {
position: absolute;
z-index: 9999;
width: 300px;
left: 50%;
bottom: 100%;
font-size: 20px;
line-height: 1.4;
text-align: center;
font-weight: 400;
color: #000;
background: transparent;
opacity: 0;
margin: 0 0 20px -150px;
cursor: default;
pointer-events: none;
font-family: pt_sans;
-webkit-font-smoothing: antialiased;
-webkit-transition: opacity 0.3s 0.3s;
transition: opacity 0.3s 0.3s;
}
.tooltip:hover .tooltip-content {
opacity: 1;
pointer-events: auto;
-webkit-transition-delay: 0s;
transition-delay: 0s;
}
.tooltip-content span { display: block; }
.tooltip-text {
border-bottom: 10px solid #311B92;
overflow: hidden;
-webkit-transform: scale3d(0,1,1);
transform: scale3d(0,1,1);
-webkit-transition: -webkit-transform 0.3s 0.3s;
transition: transform 0.3s 0.3s;
}
.tooltip:hover .tooltip-text {
-webkit-transition-delay: 0s;
transition-delay: 0s;
-webkit-transform: scale3d(1,1,1);
transform: scale3d(1,1,1);
}
.tooltip-inner {
background: #D1C4E9;
padding: 40px;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0);
webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}
.tooltip:hover .tooltip-inner {
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
.tooltip-content::after {
content: '';
bottom: -20px;
left: 50%;
border: solid transparent;
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: transparent;
border-top-color: #311B92;
border-width: 10px;
margin-left: -10px;
}
.feedback{
padding-left: 200px;
padding-right: 200px;
}
.row-feedback-1{
align-items: center;
display: flex;
justify-content: space-between;
}
input{ outline: none; font-family: pt_sans;}
.footer__form{
position: relative;
}
.footer__input{
background-color: white;
border: 1px solid #D1C4E9;
border-radius: 42px;
height: 42px;
line-height: 42px;
max-width: 230px;
padding-left: 15px;
padding-right: 40px;
transition: border-color .2s ease;
}
.footer__input::-webkit-input-placeholder{
color: rgba(106,105,105,0.6);
color: rgba(0,0,0,0.7);
font-size: 13px;
transition: filter .2s ease, opacity .2s .2s ease;
}
.footer__input:-moz-placeholder{
color: rgba(106,105,105,0.6);
color: rgba(0,0,0,0.7);
font-size: 13px;
transition: filter .2s ease, opacity .2s .2s ease;
}
.footer__input::-moz-placeholder{
color: rgba(106,105,105,0.6);
color: rgba(0,0,0,0.7);
font-size: 13px;
transition: filter .2s ease, opacity .2s .2s ease;
}
.footer__input:-ms-input-placeholder{
color: rgba(106,105,105,0.6);
color: rgba(0,0,0,0.7);
font-size: 13px;
transition: filter .2s ease, opacity .2s .2s ease;
}
.newFooter{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 200px;
padding-left: 200px;
}
@media screen and (max-width: 900px){
.footer__input { max-width: 100%; width: 100%; }
.feedback{ padding-left: 0; padding-right: 0; }
.row-feedback-1, .row-feedback{
width: 100%;
padding-left: 10px;
padding-right: 10px;
}
.contacts-box{ padding-left: 0; padding-right: 0; }
.newFooter{
flex-direction: column;
justify-content: center;
margin-top: -100px;
padding-left: 0;
padding-right: 0;
}
.contacts-box{ margin-bottom: 80px; }
.contacts-mob, .message-mob{ display: none; }
.projects-mob{
display: block;
margin-top: -15px;
}
.dummy-menu{ margin-top: -80px; margin-bottom: -80px; }
.dummy-menu:first-child{ margin-top: 0px; } 
}
.footer__input:focus{ border-color: #311B92; }
.footer__input:focus::-webkit-input-placeholder{ filter: blur(3px); opacity: 0; }
.footer__input:focus:-moz-placeholder{ filter: blur(3px); opacity: 0; }
.footer__input:focus::-moz-placeholder{ filter: blur(3px); opacity: 0; }
.footer__input:focus:-ms-input-placeholder{ filter: blur(3px); opacity: 0; }
.row-feedback{ width: 100%; }
.textarea-f{
outline: none;
height: 200px;
min-width: 100%;
font-family: pt_sans;
}
::selection { background: #311B92;  color:#ffffff; }
::-moz-selection { background: #311B92;  color:#ffffff; }
::-webkit-selection {  background: #311B92;  color:#ffffff; }
.res{
align-content: center;
display: flex;
font-family: pt_serif;
justify-content: center;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.fa-spinner:before { content: "\f110"; }
.fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }
.fa-pulse { -webkit-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8); }
.fa-3x { font-size: 3em; } 
.fa-fw {width: 1.28571429em; text-align: center; }
.fa-arrow-down:before { content: "\f063"; }
.fa-arrow-right:before { content: "\f061"; }
.fa-heart-o:before { content: "\f08a"; }
.fa-heart:before { content: "\f004"; }
.fa-user:before { content: "\f007"; }
.fa-envelope:before { content: "\f0e0"; }
.fa-vk:before { content: "\f189"; }
.fa-telegram:before { content: "\f2c6"; }
.fa-paper-plane:before { content: "\f1d8"; }
.fa-facebook-official:before { content: "\f230"; }
.fa-music:before { content: "\f001"; }
.fa-behance:before {  content: "\f1b4"; }
.fa-github:before {  content: "\f09b"; }
.overlay-href{ color: #fff; border-bottom: 2px solid #fff;}
img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms ease-in-out;
       -o-transition:      opacity 300ms ease-in-out;
          transition:      opacity 300ms ease-in-out;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open, .zoom-overlay-transitioning { cursor: default; }
.zoom-overlay-transitioning .zoom-overlay {   opacity: 0; }
.animated {
  -webkit-animation-duration: 1s; animation-duration: 1s;  -webkit-animation-fill-mode: both; animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
}
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from { opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
  75% { -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
  90% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from { opacity: 0; -webkit-transform: translate3d(0, 3000px, 0); transform: translate3d(0, 3000px, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
  75% { -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
  90% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
.bounceInUp { -webkit-animation-name: bounceInUp; animation-name: bounceInUp; }
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }
.myimage{ display: flex; justify-content: center; }
.menu__icon {
cursor: pointer;
display: none;
height: 35px;
position: relative;
position: fixed;
right: 10px;
top: 10px;
width: 45px;
}
.menu__icon span {
background: #311B92;
border-radius: 9px;
display: block;
height: 9px;
position: absolute;
left: 0;
opacity: 1;
transform: rotate(0deg);
transition: .25s ease-in-out;
width: 100%;
}
.menu__icon span:nth-child(1) {
top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
top: 13px;
}
.menu__icon span:nth-child(4) {
top: 26px;
}
.menu__links-item {
display: inline-block;
padding: 0 10px;
text-decoration: none;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
top: 18px;
width: 0%;
left: 50%;
}
.menu.menu_state_open .menu__icon span:nth-child(2) {
transform: rotate(45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(3) {
transform: rotate(-45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(4) {
left: 50%;
top: 18px;
width: 0%;
}
.menu.menu_state_open .menu__links {
display: block;  
}
@media screen and (max-width: 1000px) {
.hello{ margin-top: -25px; }
.hamb1{ margin-top: 60px; }
.hamb2{ margin-top: 100px; }
.hamb3{ margin-top: 50px; }
.hamb4{ margin-bottom: -50px; }
.contacts-box{ margin-top: -100px; }
.project{ margin-top: -50px; }
.menu__list{ display: flex; flex-direction: column; }
.menu{
align-items: center;
align-content: center;
background: #EDE7F6;
display: flex;
left: 0;
position: fixed;
padding: 5px;
top: 0;
width: 100%;
}
.menu__icon{ display: inline-block; }
.menu__links {
background: #EDE7F6;
display: none;
left: 0;
margin-top: 52px;
overflow: auto;
position: fixed;
right: 0;
top: 0;
z-index: 1000;
}
.menu__links-item {
display: block;
color: #ffffff;
padding: 10px 0;
text-align: center;
}
.logo{ display: none; }
.logo-menu{ display: block; }
.ico{ height: 45px; width: 45px;}
}